@font-face {
    font-family: 'PT SANS';
    src: url(../assets/fonts/PTSans-Regular.woff);
    src: url(../assets/fonts/PTSans-Regular.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PT SANS';
    src: url(../assets/fonts/PTSans-Bold.woff);
    src: url(../assets/fonts/PTSans-Bold.woff2);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'BERNIERDISTRESSED';
    src: url(../assets/fonts/BERNIERDistressed-Regular.woff);
    src: url(../assets/fonts/BERNIERDistressed-Regular.woff2);
    font-weight: 600;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1140px;
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'PT SANS', 'sans-serif';
    font-size: 22px;
    color: #000;
}

.highlight {
    color: #4F7290;
}

a {
    color: #000;
}

a:hover {
    color: #000;
    text-decoration: none;
}

a:active {
    opacity: .7;
}

h1, h2, h3 {
    font-family: 'BERNIERDISTRESSED';
}

h2 {
    margin-bottom: 40px;
    font-size: 82px;
    line-height: 82px;
    color: #D78C69;
}

.header {
    position: fixed;
    height: 82px;
    top: 0;
    left: 0;
    right: 0; 
    background: white; 
    z-index: 10; 
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.header__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav__btn:hover,
.nav__btn:active {
    color: #FF8B32;
}

.header__logo img{
    height: 65px;
    width: 65px;
}

.header__burger {
    display: none;
}

.header__socials {
    display: flex;
    flex-direction: row;
}

.header__whatsapp,
.header__telegram {
    display: flex;
    width: 30px;
    height: 30px;
    transition: .2s all ease-in-out;
}

.header__whatsapp:hover,
.header__telegram:hover {
    transform: scale(1.2);
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.header__socials {
    display: flex;
    justify-content: space-between;
    width: 80px;
}

/* HERO */

.hero {
    padding-top: 120px;    
    background-image: url(./../assets/images/bg\ head.webp);
    background-repeat: no-repeat;
    background-position: center 80px;
    background-size: auto 87%;
    margin-bottom: 70px;
}

.hero__container {    
    display: flex;
    flex-direction: column;
    min-height: 820px;
}

.hero__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero__content {
    width: 45%;
}

.hero__title {
    margin-bottom: 15px;
    font-size: 104px;
    font-weight: 500;
    line-height: 90px;
    color: #D78C69;
    text-transform: uppercase;
}

.hero__smalltitle {
    font-size: 84px;
    font-weight: 400;
    line-height: 84px;
    color: #D78C69;
    text-transform: lowercase;
}

.hero__subtitle {
    display: block;
    margin-bottom: 65px;
    font-family: 'BERNIERDISTRESSED';
    font-size: 48px;
    font-weight: 500;
    line-height: 41px;
    color: #4F7290;
    text-transform: lowercase;
}

.hero__image {
    max-width: 53%;
    object-fit: contain;
}

.hero__plan {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin-bottom: 40px;
    padding-left: 22px;
    list-style-type: disc;
}

.hero__button {
    display: block;
    text-align: center;
    position: relative;
    max-width: 370px;
    height: 70px;
    border-radius: 6px;
    background: linear-gradient(270deg, #D8775D, #FF8B32);
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    line-height: 70px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-bottom: 50px;
    overflow: hidden;
    z-index: 1;
}

/* Псевдоэлемент для анимации */
.hero__button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(270deg, #D8775D, #D8775D);
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.hero__button:hover {
    color: #fff;
}

.hero__button:hover::before {
    opacity: 1;
}

.plan__item::marker {
    color: #FFA245;
}

.hero__bottom {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    gap: 30px;
    justify-content: space-around;
    /* width: 100%; */
}

.details__item {
    flex: 1;
    height: 135px;
    width: 100%;
    padding: 27px 10px;
    background-image: url(../assets/images/d.webp);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border: 6px solid #FFD6B6;
    font-size: 21px;
}

/* ABOUT */

.about:target {
    scroll-margin-top: 150px;
}

.about__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 100px;
}

.about__content {
    height: auto;
    padding: 60px 10px 60px 60px;  
    background-image: url(../assets/images/bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 6px solid #FFD6B6;
    border-right: none;
}

.about__image {
    width: 44%;
    border: 6px solid #FFD6B6;
}

/* MATERIALS */

.materials {
    margin-bottom: 100px;
}

.materials__title {
    text-align: center;
}

.materials__items {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    padding: 0 15px 15px 15px;
    margin-bottom: 20px;
    border-bottom: 6px solid #FFD6B6;
}

.materials__item {    
    flex: 1;
    text-align: center;
}

.tool {
    position: relative;
}

.tool__img {
    width: 95px;
    height: 95px;
    margin-bottom: 20px;
}

.tool__title {
    margin-bottom: 20px;
}

.tool__dropdown {
    position: absolute;
    top: 152px;
    /* left: 15px; */
    height: auto;
    width: 510px;
    padding: 20px 20px 20px 31px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;    
    border: 1px solid transparent;
    box-shadow: none;
    border-radius: 20px;
    background-color: #fff;
    z-index: 0;
    transition: none;
}

.tool__dropdown.active {
    border-color: #4F7290;
    box-shadow: 0px 0px 11.1px 0px rgba(0, 0, 0, 0.15);
    z-index: 3;
}

.tool__btn {
    height: 40px;
    width: 180px;
    border: 1px solid #4F7290;
    border-radius: 20px;
    color: #4F7290;
    font-size: 16px;
    text-transform: uppercase;
    /* z-index: 2; */
}

.tool__btn:hover {
    opacity: .6;
}

.tool__dropdown.active .tool__btn {
    background-color: #EDFBFF;
}

.tool__list {    
    display: none;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    padding-left: 32px;
    margin: 0;
    column-count: 2;
    column-gap: 20px;
    list-style-type: disc;
    text-align: left;    
}

.tool__item {
    font-size: 20px;
}

.tool__item::marker {
    color: #FFA245;
}

.materials__comment {
    text-align: center;
}

/* TARIFS */

.tarifs {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../assets/images/bg\ tarif.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tarifs__title {
    text-align: center;
}

.tarifs__cards {
    display: flex;
    flex-direction: row;
    gap: 30px;   
}

.tarif {
    flex: 1;
    height: min-content;
    background-color: #fff;

}

.tarif__header {
    height: 100px;
    /* margin-bottom: 30px; */
    background-color: #4F7290;
    color: #fff;
}

.tarif__title {
    text-align: center;
    line-height: 100px;
    font-size: 35px;
    text-transform: uppercase;
}

.tarif__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 50px 20px ;
}

.tarif__image {
    width: 100%;
}

.tarif__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 22px;
    margin-bottom: 30px;
    list-style-type: disc;
    font-size: 19px;
}

.tarif__item::marker {
    color: #FFA245;
}

.tarif__item--disabled {
    color: grey;
    text-decoration: line-through;
}

.tarif__oldprice {
    margin-bottom: 20px;
    text-align: center;
    text-decoration: line-through;
    color: #4F7290;
}

.tarif__price {
    font-size: 50px;
    color: #4F7290;
    margin-bottom: 20px;
}

.tarif__currancy {
    margin-bottom: 30px;
}

.tarif__btn {
    height: 37px;
    width: 35px;
    font-size: 28px;
    line-height: 28px;
    color: #fff;
    background: #FFD6B6;
}

.tarif__btn:hover {
    background-color: #D78C69;
}

.tarif__btn:active {
    opacity: .7;
}

.tarif__btn--active {
    background-color: #D78C69;
}

.tarif__accept {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    max-width: 300px;
    height: 70px;
    border-radius: 6px;
    background: linear-gradient(270deg, #D8775D, #FF8B32);
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 70px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    z-index: 1;
    overflow: hidden;
}

/* Псевдоэлемент для анимации */
.tarif__accept::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(270deg, #D8775D, #D8775D);
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.tarif__accept:hover {
    color: #fff;
}

.tarif__accept:hover::before {
    opacity: 1;
}

/* FAQ */

.faq__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.faq__item {
    width: 820px;
    padding: 35px 70px;
    border: 6px solid #FFD6B6;
    position: relative;
    overflow: hidden;
}

.faq__item:not(:last-child) {
    margin-bottom: 30px;
}

.question__title {
    position: relative; 
    cursor: pointer;
    padding-right: 40px; 
    margin: 0;
    color: #4F7290;
    transition: all .3s ease-in-out;
}

.question__title:hover,
.faq__item.active .question__title {
    color: #D78C69;
}

.question__title::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    width: 15px;
    height: 15px;
    border-right: 2px solid #4F7290;
    border-bottom: 2px solid #4F7290;
    transform: translateY(-50%) rotate(-45deg);
    transition: transform 0.3s ease-in-out;
}

.faq__item.active .question__title::after {    
    transform: translateY(-50%) rotate(45deg);
}

.faq__item.active .question__title:hover {
    color: #4F7290;
}

.question__answer {
    max-height: 0;
    overflow: hidden;
    margin: 0;
    padding-top: 0;
    transition: all 0.4s ease-in-out;
    transition-property: max-height, padding, opacity;
    opacity: 0;
}

.faq__item.active .question__answer {
    max-height: 500px; /* Достаточно большое значение */
    padding-top: 30px;
    opacity: 1;
}

/* FOOTER */

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    font-size: 16px;
}

.footer__privacy:hover,
.footr__email:hover {
    color: #D8775D;
}

.footer__privacy:active,
.footr__email:active {
    opacity: .7;
}

@media (max-width: 1199px) {
    .hero__bottom {
        gap: 15px;
    }

    .about__content {
        padding: 30px 10px 30px 30px;
    }

    .taris__cards {
        gap: 15px;
    }

    .tarif__main {
        padding: 15px 10px 30px 10px;
    }

    .tool__btn {
        width: 150px;
    }
}

@media (max-width: 991px) {
    h2 {
        margin-bottom: 30px;
        line-height: 34px;
        font-size: 40px;
    }

    .header__navigation {
        width: 65%;
    }

    .hero {
        margin-bottom: 30px;
        background-size: cover;
        background-position: right;
    }

    .hero__container {
        padding-bottom: 30px;
    }

    .hero__title {
        margin: 0;
        font-size: 80px;
        line-height: 70px;
    }

    .hero__smalltitle {
        font-size: 60px;
    }

    .hero__subtitle {
        margin-bottom: 20px;
        font-size: 40px;
        line-height: 40px;
    }

    .hero__button {
        height: 50px;
        width: 100%;
        font-size: 16px;
        line-height: 50px;
    }

    .hero__bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .details__item {
        max-width: 70%;
        justify-self: center;
    }

    .about__container {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .about__content {
        padding: 20px;
        border: 6px solid #FFD6B6;
    }

    .about__image {
        width: 65%;
        border-top: 0;
    }

    .materials {
        margin-bottom: 30px;
    }

    .materials__items {
        gap: 15px;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
    }

    .materials__item {
        max-width: 170px;
    }

    .tool__img {
        width: 60px;
        height: 60px;
    }

    .tool__description {
       font-size: 16px; 
    }

    .tool__dropdown {
        top: 110px;
        width: 470px;
        padding-left: 9px;
    }

    .tool__item {
        font-size: 16px;
    }

    .materials__comment {
        font-size: 16px;
    }

    .tarifs {
        padding-top: 30px;
        padding-bottom: 30px;
        background-position: left;
    }

    .tarifs__cards {
        gap: 10px;
    }

    .tarif__title {
        font-size: 25px;
    }

    .tarif__main {
        padding: 15px 5px;
    }

    .tarif__list {
        font-size: 16px;
    }

    .tarif__price {
        font-size: 30px;
    }

    .tarif__accept {
        height: 50px;
        font-size: 16px;
        line-height: 50px;
    }

    .faq__container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .faq__item {
        width: auto;
        padding: 20px 35px;
    }

    .question__title {
        font-size: 18px;
    }

    .question__answer {
        font-size: 16px;
    }

    .footer__container {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .header {
        height: 50px;
    } 

    .header__logo img {
        height: 40px;
        width: 40px;
    }

    .header__navigation {
        width: 50%;
        font-size: 12px;
    }

    .header__socials {
        width: 50px;
        height: auto;
    }

    .header__whatsapp,
    .header__telegram,
    .header__whatsapp svg,
    .header__telegram svg {
        width: 20px;
        height: 20px;
    }

    .hero {
        padding-top: 70px;
        background-position: center;
    }

    .hero__top {
        flex-direction: column;
        align-items: center;
    }

    .hero__content,
    .hero__image {
        width: 100%;
        text-align: center;
    }

    .hero__image {
        max-width: 70%;
    }

    .hero__plan {
        font-size: 16px;
    }

    .hero__button {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
    }

    .hero__bottom {
        padding: 0;
    }

    .details__item {
        max-width: 100%;
        height: auto;
        padding: 10px;
        border: 3px solid #FFD6B6;
        font-size: 16px;
    }

    .about__title {
        margin-bottom: 20px;
    }

    .about__content,
    .about__image {
        border: 3px solid #FFD6B6;
    }

    .about__description {
        font-size: 16px;
    }

    .materials__items {
        gap: 10px;
        border-bottom: 3px solid #FFD6B6;
    }

    .tool__title {
        font-size: 16px;
    }

    .tool__btn {
        width: 100px;
        height: 20px;
        font-size: 10px;
    }

    .tool__dropdown {
        width: 350px;
        padding: 10px;
        gap: 10px;
    }

    .tool__list {
        padding-left: 15px;
    }

    .tool__item {
        font-size: 14px;
    }

    .tool__description {
        font-size: 14px;
    }

    .tarif__header {
        height: 50px;
    }

    .tarif__title {
        line-height: 50px;
    }

    .tarifs__cards {
        flex-direction: column;
    }

    .tarif__list {
        gap: 10px;
        align-self: flex-start;
        margin-bottom: 15px;
    }

    .tarif__oldprice,
    .tarif__price,
    .tarif__currancy {
        margin-bottom: 10px;
    }

    .tarif__btn {
        height: 47px;
        width: 45px;
    }

    .faq__item {
        padding: 15px;
        border: 3px solid #FFD6B6;;
    }
}

@media (max-width: 575px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .header__navigation,
    .header__socials {
        display: none;
    }

    .header__burger {
        display: block;
    }

    .hero {
        margin-bottom: 10px;
    }

    .hero__title {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 10px;
    }

    .hero__smalltitle,
    .hero__subtitle {
        font-size: 30px;
        line-height: 30px;
    }

    .hero__container {
        padding-bottom: 10px;
    }

    .hero__subtitle {
        margin-bottom: 10px;
    }

    .hero__plan {
        list-style-type: none;
        margin-bottom: 10px;
    }

    .hero__button {
        height: 30px;
        font-size: 12px;
        line-height: 30px;
    }

    .hero__bottom {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .details__item {
        padding: 10px;
        line-height: 16px;
    }

    .about__container {
        margin-bottom: 10px;
    }

    .about__title {
        margin-bottom: 10px;
    }

    .about__content {
        padding: 10px;
    }

    .about__image {
        width: 100%;
    }

    .materials {
        margin-bottom: 10px;
    }

    .materials__title { 
        margin-bottom: 10px;
    }

    .materials__items {
        flex-direction: column;
        gap: 30px;
        padding-bottom: 0;
        margin-bottom: 10px;
    }

    .tool {
        width: 100%;
        max-width: 100%;
    }

    .tool__img,
    .tool__title{
        margin-bottom: 10px;
    }

    .tool__dropdown {
        align-items: center;
        top: 90px;
        width: 100%;
        padding: 5px;
        border-radius: 10px;
    }

    .tool__item,
    .tool__description,
    .materials__comment {
        font-size: 12px;
    }

    .tarifs {
        padding: 10px 5px;
    } 

    .tarifs__title {
        margin-bottom: 10px;
    }

    .tarif__title {
        font-size: 18px;
        line-height: 30px;
    }

    .tarif__header {
        height: 30px;
    }

    .tarif__main {
        padding: 5px;
    }

    .tarif__btn {
        width: 25px;
        height: 25px;
        font-size: 15px;
        line-height: 20px;
    }

    .tarif__list {
        margin-bottom: 10px;
    }

    .tarif__accept {
        height: 30px;
        font-size: 12px;
        line-height: 30px;
    }

    .tarif__oldprice {
        font-size: 20px;
    }

    .tarif__price {
        font-size: 22px;
    }

    .faq__container {
        padding: 10px;
        margin-bottom: 20px;
    }

    .faq__title {
        margin-bottom: 10px;
    }

    .faq__item:not(:last-child) {
        margin-bottom: 10px;
    }

    .footer__container {
        font-size: 12px;
        text-align: center;
    }      
}